@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: poppins;
}
.container{
    height:100vh;
    display:flex;
}
.navlist{
    display:flex;
    gap:3.5rem;
    height:15vh;
    width:100%;
    justify-content: center;
    align-items: center;
    position:fixed;
}
.navlist li{
    list-style: none;
}
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    color:white;
} 
.left-container,.right-container{
    height:100vh;
    display:flex;
    align-items: center;
}
.left-container{
    width:70%;
    background:black;
    padding:3rem;
}
.icons .fa-brands{
    color:#bbb;
    font-size: 1.7rem;
}
.icons{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap:3rem;
}
.content{
    margin-left: 4rem;    
}
.content h1{
    color:#5db9ee;
}
.content .intro{
    font-size:1.5rem;
    color:azure;
}
.content .intro span{
    color:#5db9ee;
}
.content .detail{
    color:azure;
    max-width: 32rem;
    font-size: 1rem;
    margin:1.1rem 0 3rem 0;
    line-height: 1.8rem;
}
.btn-container button{
    border: .1rem solid #5db9ee;
    font-size: 1.1rem;
    padding:.8rem 1.5rem;
    border-radius: .5rem;
    transition: 3s ease;
}
button:nth-child(1){
    background:#5db9ee;
    color:#262525;
}
button:nth-child(2){
    background:transparent;
    color:#5db9ee;
    margin-left: 2rem;
}
button:nth-child(1):hover{
    background:transparent;
    color:#5db9ee;
}
button:nth-child(2):hover{
    background:#5db9ee;
    color:#262525;
}
.icons .fa-brands:hover{
    background:linear-gradient(red,blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.right-container{
    width:30%;
    background:blue;
}
.design .circle{
    aspect-ratio: 1;
    position:absolute;
    border-radius: 50%;
    top:50%;
    left:70%;
    transform:translate(-50%,-50%);
}
.circle:nth-child(1){
    background:linear-gradient(90deg,transparent 50%,black 50%);
    width:36rem;
}
.circle:nth-child(2){
    background:white;
    width:30rem;
}
